<table class="form">
  <tr>
    <th><%= form.label :kind_id %></th>
    <td><%= form.text_field :kind_id %></td>
  </tr>
  <tr>
    <th><%= form.label :name %></th>
    <td><%= form.text_field :name %></td>
  </tr>
</table>
