<%= render "shared/error", obj: @booking %>
<% @title = "予約" %>
<div class="box">
<%= form_for @booking do |form| %>
<%= render "form_for_rooms_and_date", form: form %>
<p><%= form.submit %></p>
<% end %>
</div>
