<div class="lbody">
<div class="box">
<% if @current_member %>
<% if @current_member.administrator? || @booking.member_id == @current_member.id %>
  <%= render "body" %>
<% end %>
<% elsif @booking.book_id == @book_id %>
  <%= render "body" %>
<% end %>
</div>
</div>

