<% @title = "管理ページトップ" %>

<div class="lbody">
<div class="box">
<ul>
<li><%= link_to "会員管理", :admin_members %></li>
<li><%= link_to "予約管理", :admin_bookings %></li>
<li><%= link_to "機材管理", :admin_materials %></li>
<li><%= link_to "部屋管理", :admin_rooms %></li>
</ul>
</div>
</div>

