<% unless obj.errors.empty? %>
<div id="errors">
<h3>エラー</h3>
<div class="box">
  <ul>
    <% obj.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
</div>
<% end %>
