<% @title = '部屋一覧' %>

<div class="box">
<table class="list">
  <tr>
    <th>ID</th>
  </tr>
  <% @rooms.each do |room| %>
  <tr>
    <td align="right"><%= room.id %></td>
  </tr>
  <% end %>
</table>
</div>
