<div class="lbody">
<%= render "shared/error", obj: @member %>
<% @title = "新規登録" %>
<div class="box">
<%= form_for @member do |form| %>
  <%= render "form", form: form %>
  <p><%= form.submit %></p>
<% end %>
</div>
</div>
